## ACME (Let's Encrypt)
ACME_EMAIL=admin@example.com
ACME_DISABLE_CNAME=true
ACME_DNS_API=https://auth.acme-dns.io

## Network
TRAEFIK_NETWORK=traefik
TRAEFIK_SUBNET=172.18.0.0/16
TRAEFIK_IPV4=172.18.0.2
